@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Shrikhand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #a4cbd5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  font-family: 'Shrikhand', cursive;
}
.login, .signup{
  position: absolute;
  left: 0;
  right: 0;
  top: 25;
  bottom: 25;
  margin: auto;
  background-color:#a4cbd5;
  border: 10px solid #93B288 ;
  color: white;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.plantForm{
  display:flexbox;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color:#A4CBD5;
  color: white;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  text-align: center;

}
/* .form-checkbox{
display:inline-block;
} */
#loginTitle, #signupTitle, .plantFormTitle{
  font-size: 100px;
}

.login form label, .signup form label, .plantForm form label{
  margin: 15px;
  display: block;
}

.login form input, .signup form input, .plantForm form input{
  margin-left: 5px;
  padding: 4px;
  width: 15%;
  border: 3px solid #9FAE9E;
  border-radius: 4px;
}
.loginButton, .signupButton, .addPlantButton{
  background-color: #DE94AC;
  border: none;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  margin-bottom: 25px;
}
.loginButton:hover, .signupButton:hover, .addPlantButton:hover{
  background-color: #aa7183;
}
.signUpButton{
  background-color: #DE94AC;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  margin-bottom: 25px;
}
.signUpButton:hover{
  background-color: #aa7183;
}

.summary {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px 50px;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
.thirsty {
  background-color: #DE94AC;
  border: 5px solid white;
  border-radius: 7px;
}

.notThirsty{
  background-color: #93B288;
  border: 5px solid white;
  border-radius: 7px;
}
.details {
background-color:beige;
padding: 10px;
}
h2, h3, p{
  text-align: center;
}
button.details{
  background-color: #DE94AC;
  border: 2px solid #c28397;
  color: white;
  padding: 15px 32px;

}

.navLink{
  background-color: #93B288;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: flexbox;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

h1.summary{
  display: flex;
  text-align: center;
}

.welcome{
  text-align: right;
}
.thumb {
padding: 10px;
max-width: 250px;
max-height: 250px;
}

.links a{
  color: #9E9FAE;
  margin: 10px;
  margin-bottom: 20px;
}

.links a:hover{
  color: lightgreen;
}